@font-face {
    font-family: 'tit-web';
    src: url(../webfonts/TitilliumWeb-Bold.ttf);
}

:root
{
    --heading-font-family:'tit-web';
    --shadow: -5px 2px 60px -9px  rgb(230, 255, 255);

}
h1{
    font-family:var(--heading-font-family);
    font-size: 3.75rem;
}
.box
{
    --bs-box-shadow: var(--shadow);
    
}
.style
{
    background-image: url(../pexels-fauxels-3183202.jpg);
    background-size: cover;
}
.welcome-bg
{
    background-image: url(../pexels-yankrukov-7693153.jpg);
    background-size: cover;

}